@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Roboto:700|Noto+Sans:400,700,600,800");
@font-face {
  font-family: "NanumSquareOTF-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("static/fonts/NanumSquareB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareOTF-ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("static/fonts/NanumSquareEB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareOTF-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/NanumSquareOTF_acR.otf") format("opentype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}
