:root { 
  --black: #000000;
  --blue-violet: #8369bb;
  --eerie-black: #191919;
  --electric-violet: #864cff;
  --magnolia: #f9f2ff;
  --minsk: #492b86;
  --mountain-mist: #999999;
  --purple-heart: #663afe;
  --purple-heart-2: #854cff;
  --sonic-silver: #767676;
  --tolopea: #1c004b;
  --white: #ffffff;
  --white-2: #ffffff66;
  --white-3: #ffffff4c;
  --white-4: #ffffffcc;
 
  --font-size-l: 30px;
  --font-size-m: 29px;
  --font-size-s: 21px;
  --font-size-xl: 32px;
  --font-size-xs: 13px;
  --font-size-xxl: 37px;
  --font-size-xxxl: 41px;
 
  --font-family-nanumsquareotf-bold: "NanumSquareOTF-Bold", Helvetica;
  --font-family-nanumsquareotf-extrabold: "NanumSquareOTF-ExtraBold", Helvetica;
  --font-family-nanumsquareotf-regular: "NanumSquareOTF-Regular", Helvetica;
  --font-family-noto_sans: "Noto Sans", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
